body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 20px;
}

form {
	display: flex;
	height: 60px;
	align-items: center;
	width: 500px;
	justify-content: space-evenly;
}


form input{
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    outline: none;
}
form input[type="submit"]{
    background-color: rgb(43, 55, 48);
    color: white;
    border: 1px solid transparent;
    padding: 7px 15px;
    cursor: pointer;
}


.error {
    border: 2px solid red;
    animation: shake 0.5s;
    animation-timing-function: linear;
}

.valid{
    border: 2px solid rgb(43, 55, 48);
}

@keyframes shake {
    0%{
        transform: translateX(-10px);
    }
    50%{

        transform: translateX(10px);

    }
    100%{
        transform: translateX(0px);

    }
}

.colors-list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-color {
    position: relative;
	width: calc(100%/6);
	height: 150px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 19px;
}




.card-color p{
    padding: 21px 25px;
        margin: 0;
}

.c-white{
    color: white;
}

.c-black{
    color: black;
}


.copied{
    font-size: 13px;

}

